{% extends "../CRUD/read.html" %}
{% block title %}Arike Facilities{% endblock title %}
{% block list %}
<div class="flex">
    <h1 class="text-3xl text-gray-100 mr-10 mb-5">Facilities</h1>
    <a href="/facility/create/"><button class="p-2 w-200 bg-red-500 text-gray-100 rounded-lg"><i class="fi fi-rr-add mr-2"></i>Add</button></a>
</div>
<div class="flex flex-wrap">
    {% for f in facility %}
        <div class="shadow bg-gray-100 rounded-lg w-1/3 p-4 m-2">
            <a href="/facility/detail/{{f.id}}"><h2 class="text-xl font-semibold hover:text-red-600"><i class="fi fi-rr-apps mr-2"></i>{{f.name}}</h2></a>
            <ul class="text-sm text-gray-500 p-2">
                <li><b>Kind:</b> {{f.kind}}</li>
                <li><b>Ward:</b> {{f.ward}}</li>
                <li><b>Address:</b> {{f.address}}</li>
                <li><b>Pincode:</b> {{f.pincode}}</li>
                <li><b>Phone Number:</b> {{f.phone}}</li>
            </ul>
            <a href="/facility/update/{{f.id}}/"><button class="mt-2 p-2 bg-red-500 text-gray-100 rounded-lg" type="submit"><i class="fi fi-rr-pencil"></i></button></a>
            <a href="/facility/delete/{{f.id}}/"><button class="mt-2 p-2 bg-red-500 text-gray-100 rounded-lg" type="submit"><i class="fi fi-rr-trash"></i></button></a>
        </div>
    {% empty %}
        <div class="flex items-center justify-center">
            <div class="text-xl">No Facilities yet.</div>
        </div>
    {% endfor %}
</div>
{% endblock list %}